<% provide(:title, "ユーザー登録") %>
<% provide(:url, signup_path) %>
<% provide(:button_text, "登録する") %>
<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">ユーザー登録</div>
      <div class="panel-body">
        <%= render 'form'%>
      </div>
    </div>
  </div>
</div>