<% provide(:title, "#{@user.name}のマイページ") %>
<div class="user-profile">
  <div class="icon text-center">
    <%= gravatar_for @user %>
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
  </div>
</div>